
body {font-family: Arial; margin:0; background:#0b1220; color:#fff;}
.container {width:90%; max-width:1000px; margin:auto;}
.header {background:#000; padding:15px;}
nav a {margin:0 10px; color:#fff;}
.hero {padding:80px 0; text-align:center;}
.btn {padding:10px 20px; background:#00d4aa; color:#000; text-decoration:none;}
.sobre {display:flex; gap:20px; padding:60px 0;}
.sobre img {width:250px;}
footer {text-align:center; padding:20px;}
